h1 {
    font-size: 45px;
    text-align: center;
    color: rgb(78, 70, 125);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: rgb(100, 95, 131);
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;


}

span {
    font-size: 35px;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.red {
    color: rgb(161, 0, 0);
    font-size: 17px
}

.red2 {
    color: rgb(161, 0, 0);
    font-size: 15px
}
.code {
	background-color: #dadada;
	border-left: 3px solid #2aa1d3;
	display: block;
	padding: 5px;
}

.card_red{
    font-size: 17px;
    color: rgb(161, 0, 0);
    background-color: #dadada;
}